:root {
    --background-color: aliceblue;
    --header-text-back-color: #50dbde;
}

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    background-color: var(--background-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    height:70px;
    background-color:#262523;
}

.header h1 {
    background-color: var(--header-text-back-color);
    display: flex;
    font-size: 30px;
    margin: 7px;
    border: 2px solid #000;
    float: left;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
    
}

.header div {
list-style-type: none;
}

.header ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: flex-end;
    padding-top: 30px;
}

.header ul li {
    color: var(--header-text-back-color);
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

article {
height: 150px;
    background-image: url("Banner.jpg");
}

article h1 {
    background-color: var(--header-text-back-color);
    font-size: 30px;
    display: flex;
    border: 2px solid #000;
    float: right;
    margin-top: 100px;

}

section {
display: inline-flex;
height: 25%;
padding-top: 40px;
width: 75%;
}

section h2 {
    border-right: 5px solid black;
    font-size: 50px;
    color: #1398f1;
    width: min-content;
    padding: 30px;
    padding-top: 0px;
    float: left;
}

section p {
display: flex;
font-size: 20px;
padding-left: 5%;

}

main {
    display: inline-flex;
    height: 25%;
    padding-top: 40px;
    width: 75%;
    }

   main h2 {
        border-right: 5px solid black;
        font-size: 50px;
        color: #1398f1;
        width: min-content;
        padding: 30px;
        padding-top: 0px;
        padding-right: 46px;
        float: left;
   }