:root {
  --background-color: aliceblue;
  --header-text-back-color: #50dbde;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background-color: var(--background-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  height: 70px;
  background-color: #262523;
}

.header h1 {
  background-color: var(--header-text-back-color);
  display: flex;
  font-size: 30px;
  margin: 7px;
  border: 2px solid #000;
  float: left;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
}

.header div {
  list-style-type: none;
}

.header ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 30px;
}

.header ul li {
  color: var(--header-text-back-color);
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

article {
  height: 150px;
  background-image: url("./assets/Banner.jpg");
}

article h1 {
  background-color: var(--header-text-back-color);
  font-size: 30px;
  display: flex;
  border: 2px solid #000;
  float: right;
  margin-top: 100px;
}

section {
  display: inline-flex;
  height: 25%;
  padding-top: 40px;
  width: 75%;
}

section h2 {
  border-right: 5px solid black;
  font-size: 50px;
  color: #1398f1;
  width: min-content;
  padding: 30px;
  padding-top: 0px;
  float: left;
}

section p {
  display: flex;
  font-size: 20px;
  padding-left: 5%;
}

main {
  display:flex;
  flex-wrap: wrap;
  height: 1000px;
  padding-top: 40px;
  width: 100%;
}

main h2 {
  height: 5%;
  font-size: 50px;
  color: #1398f1;
  width: min-content;
  padding: 30px;
  padding-top: 0px;
  padding-right: 46px;
  float: left;
}

figure.bigBox{
background-image:url("./assets/Horiseon.png");
border: 4px solid var(--header-text-back-color); 
margin: 30px;
margin-top: 0px;
width: 80%;
}

figure .textBox {
  display: flex;
  justify-content: center;
  border:3px solid var(--header-text-back-color);
  background-color: var(--header-text-back-color);
  width: 185px;
  margin-top: 265px;
}

main .boxHead {
  font-size: 25px;
}

main li {
  font-size: 18px;
  color:rgb(57, 56, 58);
}


aside.smallBox1 {
  background-image:url("./assets/Calculator.jpg");
  display: flex;
  border: 4px solid var(--header-text-back-color); 
   margin: 30px;
   margin-top: 0px;
   width: 45%;
   height: 25%;
}

aside .textBox {
  display: flex;
  justify-content: center;
  border:3px solid var(--header-text-back-color);
  background-color: var(--header-text-back-color);
  width: 185px;
  height: 50px;
  align-self: flex-end;
}

aside.smallBox2 {
  background-image:url("./assets/Gym.jpg");
  display: flex;
  border: 4px solid var(--header-text-back-color); 
   margin: 30px;
   margin-top: 0px;
   width: 45%;
   height: 25%;
}
 
 
aside.smallBox3 {
  background-image:url("./assets/Restaurant.jpg");
  display: flex;
  border: 4px solid var(--header-text-back-color); 
   margin: 30px;
   margin-top: 0px;
   width: 45%;
   height: 25%;
}

aside.smallBox4 {
  background-image:url("./assets/Survey.jpg");
  display: flex;
  border: 4px solid var(--header-text-back-color); 
   margin: 30px;
   margin-top: 0px;
   width: 45%;
   height: 25%;
}

/*
main .box5{
  display: flex;
  justify-content: center;
  border:3px solid var(--header-text-back-color);
  background-color: var(--header-text-back-color);
  width: 185px;
  margin-top: 120px;
  margin-bottom: 10px;
} */